#SPDX-FileCopyrightText: © 2022 3nets, Inc. <it@3nets.io>
[Unit]
Description=Daaya Video Service
Requires=network.target
After=network.target
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User=daayavideo
Group=daayavideo
WorkingDirectory=/opt/daayavideoservice/
ExecStart=/opt/daayavideoservice/daayavideoserver
ExecStop=
# Restrict service capabilities
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/var/daaya/videos
#StandardOutput=append:/opt/daayavideoservice/daayavideoserver.log
#StandardError=append:/opt/daayavideoservice/daayavideoserver.log

[Install]
WantedBy=multi-user.target

